.button {
  background-color: white;
}
.button:visited {
background-color: #e8c74e;
}
.hero {
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}
.hero h4 {
  font-weight: normal;
  color: #efbe0e;
}
.hero p {
  color: #86763c;
  font-weight: bold;
}
/*.hero p {
  color: #efbe0e;
  font-weight: bold;
}*/
.divider {
  height: 10px;
  width: 100%;
  background-color: #efbe0e;
}
.hero {
  padding: 25px;
  margin: 25px;

}
.fa {
  display: inline-block;
}
i {
  color: #efbe0e;
  margin: 15px;
}
