.button {
  background-color: white;
}
.button:visited {
background-color: #e8c74e;
}
.home {
  background-image: url('../images/bg-phoenix1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}
.home h2 {
  font-weight: normal;
  color: #efbe0e;
}
.home p {
  color: white;
  font-weight: normal;
}
/*.home {
  padding: 25px;
  margin: 25px;

}*/
.hero {
  background-image: url('');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}
.hero h4 {
  font-weight: normal;
  color: #efbe0e;
}
.hero p {
  color: #86763c;
  font-weight: bold;
}
/*.hero p {
  color: #efbe0e;
  font-weight: bold;
}*/
.divider {
  height: 10px;
  width: 100%;
  background-color: #efbe0e;
  padding-bottom: 0;
}
.hero {
  padding: 25px;
  margin: 25px;

}
.fa {
  display: inline-block;
}
i {
  color: #efbe0e;
  margin: 15px;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
.hero-img {
  background-color: #666;
  color: white;
  float: center;
  /*margin-left: 20px;*/
  /*border: solid black 3px;*/
  padding: 0;
}
/*.four columns {
  background-color: #999;
  color: white*/


}
