.hero {
  background-image: url('../images/splash.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
}
.here h4 {
  font-weight: bold;
  color: #666;
}
.hero p {
  color: #efbe0e;
}
.divider {
  height: 10px;
  width: 100%;
  background-color: #efbe0e;
}
.nav {
  padding: 25px;
  margin: 0;
  background: #666;
  color: white;
}
.fa {
  display: inline-block;
}
i {
  color: #efbe0e;
  margin: 15px;
}
